/*--------------- MEDIA QUERY 1160px---------------*/




@media screen and (max-width:1160px) { 

    .menu {
        padding: 30px;
        label {
            display: initial;
        }
        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #303030;
            display: none;
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }
    #menu:checked ~.navbar {
        display: initial;
    }
    .header {
        min-height: 0vh;
        .header-content {
            flex-direction: column;
            padding: 30px 30px 50px 30px;
            text-align: center;
            .header-txt {
                width: 100%;
                h1{
                    font-size: 70px;
                    span{
                        font-size: 70px;
                    }
                }
            }
            .buttons {
                justify-content: center;
                .btn1 {
                    margin: 0 10px;
                }
            }
            .header-img { 
                width: 100%;
                img {
                    width: 400px;
                }
            }
        }
    }
    .menu-pl {
        padding: 0 30px 30px 30px;
        .general-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr 1fr);
        }
    }
        .about {
            padding: 30px;
            margin-bottom: 30px;
            text-align: center;
            .about-content {
                flex-direction: column;
                .about-txt {
                    width: 100%;
                    .about-txt div {
                        display: flex;
                        justify-content: center;
                    }
                    .about-txt p {
                        margin-bottom: 0;
                    }
                }
            }
            .about-img {
                width: 100%;
                text-align: center;
                img {
                    width: 470px;
                }   
            }
        }
        .info {
            padding: 30px;
            flex-direction: column;
            .info-img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .info-txt {
                width: 100%;
                padding-left: 0;
                text-align: center;
            }
        }
        
            /*---------------PAGE NOSOTROS MEDIA QUERY 1160px---------------*/
    .main-hacemos{
        .title-hacemos{
            font-size: 2rem;
            padding: .8em 0 .4em;
        }
        
        .galeria{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "gal1 gal1"
            "gal1 gal1"
            "gal2 gal2"
            "gal2 gal2"
            "gal4 gal4"
            "gal4 gal4"
            "gal5 gal5"
            "gal5 gal5"
            "gal6 gal6"
            "gal6 gal6";
            .galeria-picture::before{
                font-size: 1rem;
            }
        }
    }
    }



/*--------------- MEDIA QUERY 1160px FORMULARIO ---------------*/
.contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contact-wrapper > * {
    padding: 2em;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: left;
}

/*--------------- MEDIA QUERY 1160px FOOTER ---------------*/


.footer {
    padding: 30px;
    text-align: center;
    .footer-content {
        flex-direction: column;
    }
}

/*--------------- MEDIA QUERY 630px PAGE "NOSOTROS"---------------*/
@media screen and (max-width:760px) {
    .nosotros{
        .heading{
            padding: 0px 20px;
            h1{
                font-size: 36px;
            }
            p{
                font-size: 17px;
                margin-bottom: 0px;
            }
        }
    }
    .containerr{
        padding: 0px;
        .aboutt{
            padding: 20px;
            flex-direction: column;
            .aboutt-image{
                margin-right: 0px;
                margin-bottom: 20px;
            }
            .aboutt-content{
                p{
                    padding: 0px;
                    font-size: 16px;
                }
                .read-more{
                    font-size: 16px;
                }
            }
        }
    }
}








/*--------------- MEDIA QUERY 630px---------------*/




@media screen and (max-width:630px) {   

    .menu {
        padding: 30px;
        label {
            display: initial;
        }
        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #303030;
            display: none;
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }
    #menu:checked ~.navbar {
        display: initial;
    } 
    
    .header {
        min-height: 0vh;
        .header-content {
            flex-direction: column;
            padding: 30px 30px 50px 30px;
            text-align: center;
            .header-txt {
                width: 100%;
                h1 {
                    font-size: 55px;
                    span{
                        font-size: 45px;}
                }
                .header-img { 
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .buttons {
                    justify-content: center;
                    .btn1 {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
        .menu-pl {
            padding: 0 30px 30px 30px;
            .general-content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .about {
            padding: 30px;
            margin-bottom: 30px;
            text-align: center;
            .about-content {
                flex-direction: column;
                .about-txt {
                    width: 100%;
                    div {
                        width: 100%;
                        font-size:  35px;
                        font-weight: 800;
                    
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .about-img {
                width: 100%;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
        .info {
            padding: 30px;
            flex-direction: column;
            .info-img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .info-txt {
                width: 100%;
                padding-left: 0;
                text-align: center;
                .btn-1{
                    margin-right: auto;
                }
            }
        }
    
/*--------------- PAGE "LO QUE HACEMOS"---------------*/
.main-hacemos{
    .title-hacemos{
        font-size: 2rem;
        padding: .8em 0 .4em;
    }
    
    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "gal1 gal1" "gal1 gal1" "gal2 gal3" "gal4 gal4" "gal4 gal4" "gal5 gal5" "gal5 gal5" "gal6 gal7" "gal8 gal8" "gal8 gal8";
        .gallery-picture::before{
            font-size: 1rem;
        }
    }
}
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr ;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
    
    .footer {
        padding: 30px;
        text-align: center;
        .footer-content {
            flex-direction: column;
        } 
    }
    


}